/* Основные стили для документа */
body {
	background-color: black; /* Чёрный фон */
	color: white; /* Белый текст */
	font-size: 1.5rem; /* Размер шрифта */
	line-height: 2rem; /* Межстрочный интервал */
	margin: 0;
	padding: 0;
}

/* Стили для абзацев */
p {
	text-align: right; /* Выравнивание справа */
}

/* Стили для заголовков */
h1, h2 {
	text-align: right; /* Выравнивание справа */
	font-family: Arial, sans-serif; /* Рубленый шрифт */
	color: red; /* Красный цвет */
}

/* Стили для терминов, выделенных курсивом */
em {
	color: green; /* Зелёный цвет */
}

/* Стили для обёртки */
.wrapper {
	max-width: 960px; /* Максимальная ширина */
	margin-left: auto; /* Автоматический отступ слева */
	margin-right: auto; /* Автоматический отступ справа */
	padding-left: 10px; /* Внутренний отступ слева */
	padding-right: 10px; /* Внутренний отступ справа */
}
